
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

    <div class="padding-all">
        <div class="header">
            <h1>Master  Login Form</h1>
        </div>

        <div class="design-w3l">
            <div class="mail-form-agile">
                <form action="Verify" method="post">
                    <input type="text" name="name" placeholder="User Name  or  email..." required="" />
                    <input type="password" name="password" class="padding" placeholder="Password" required="" />
                    <input type="submit" value="login">
                </form>
            </div>
            <div class="clear"> </div>
        </div>

        <div class="footer">
            <p>© 2017  Master  Login form. All Rights Reserved | Design by  <a href="https://w3layouts.com/">  w3layouts </a></p>
        </div>
    </div>
